{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SubscriptionApp</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{% static 'js/index.js' %}"></script>
    </head>
    <body class="override">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">User Subscription App</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li>
                            <a href="/accounts/logout">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/accounts/login">Login</a>
                        </li>
                        <li>
                            <a href="/register/trial_member">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>