{% extends "base.html" %}
{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <div class="header_container">
        <div class="header_subs">
            <h3>Welcome {{ user.username }}</h3>
            {% if subscriptions %}
            <p>You have {{subscriptions}} Account</p>
            {% endif %}
            {% if message %}
            <p>{{message}}</p>
            {% endif %}
        </div>
    </div>
    
    <div class="buy_sub_container">
        <div class="trial_subs">
            <p class="sub_text">Aben Premium membership which includes 30 days of premium service at $49.99</p>
            <button class="btn btn-warning" id="submitBtn">Buy Premium Service</button>
        </div>
    </div>
    {% else %}
    <div class="sub_container">
        <div class="trial_subs">
            <p class="sub_text">Sign up for a free trial of a Aben Premium membership which includes 7 days of premium service</p>
            <a class="btn btn-success" type="button" href="/register/trial_member">SignUp for Trial Member</a>
        </div>
        <div class="premium_subs">
            <p class="sub_text">Sign up for Aben Premium membership which includes 30 days of premium service</p>
            <a class="btn btn-warning" type="button" href="/register/premium_member">SignUp For Premium Member</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}