html {
    height: 100%;
    width: 100%;
}

body {
    /*background: url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg") no-repeat center center fixed;*/
    background-size: cover;
    font-family: 'Droid Serif', serif;
}

.section .container {
    text-align: center;
    width: 350px;
    background: #00ffa1;
    font-size: 20px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 6px;
}

.col-md-offset-2 {
    margin-left: 23%;
}

.col-md-8 {
    width: 50.666667%;
}

.sub_container {
    margin-top: 30px;
    margin-left: 24%;
}

.buy_sub_container {
    margin-top: 30px;
}

.sub_text {
    font-size: 20px;
    height: 140px;
}

.btn {
    margin-top: 20px;
    width: 100%;
}

.header_subs {
    width: 75%;
    margin-bottom: 20px;
    background-color: #9c27ce;
    text-align: center;
    height: 0%;
    color: #ffffff;
    font-family: monospace;
    border-radius: 10px;
    border: 2px solid #286090;
}

.trial_subs,
.premium_subs {
    height: 280px;
    width: 30%;
    float: left;
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: blanchedalmond;
    border: 2px solid #286090;
}