{% extends "base.html" %}
{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if state == 'premium_member' %}
                    Register For Premium Member
                    {% else %}
                    Register For Trial Member
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="form-group clearfix">
                        <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right">Username<span class="text-red">*</span>:</label>
                        <div class="col-md-6">
                            {{ form.username }}
                            {% if form.errors %}
                            <label class="bg-danger p-d ml-b">{{ form.errors.username }}</label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right">Email<span class="text-red">*</span>:</label>
                        <div class="col-md-6">
                            {{ form.email }}
                            {% if form.errors %}
                            <label class="bg-danger p-d ml-b">{{ form.errors.email }}</label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right">Password<span class="text-red">*</span>:</label>
                        <div class="col-md-6">
                            {{ form.password1 }}
                            {% if form.errors %}
                            <label class="bg-danger p-d ml-b">{{ form.errors.password1 }}</label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="{{ form.password_repeat.id_for_label }}" class="col-md-4 control-label text-right">Confirm password:</label>
                        <div class="col-md-6">
                            {{ form.password2 }}
                            {% if form.errors %}
                            <label class="bg-danger p-d ml-b">{{ form.errors.password2 }}</label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        {% if state == 'premium_member' %}
                        <input type="submit" value="Register" class="btn btn-warning" id="submitBtn">
                        {% else %}
                        <input type="submit" value="Register" class="btn btn-success">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}